html {
  font-family: 'Open Sans', sans-serif;
  background: #151515;
  padding: 3rem;
  color: white;
}

body {
  max-width: 960px;
  margin: 0 auto;
  background: #151515 ;
  color: white;
  
}

h1, h2, h3, h4, h5, h6 { 
  font-family: 'DM Serif Display', serif; 
  color: white;
  margin: 1rem 0;
  font-size: xx-large;
  font-weight: lighter;
}

a {
  color: white;
  text-decoration: none;
}

hr {
  border: none;
  border-top: 1px solid white;
}

nav {
  background: #151515;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}

nav h1 {
  flex: auto;
  margin: 0;
  text-align: center;
  letter-spacing: 2px;
}

nav h1 a {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
}

nav ul  {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a, nav ul li span, header .action {
  display: block;
  padding: 0.5rem;
}

.content {
  padding: 0 1rem 1rem;
}

.content > header {
  border-bottom: 1px solid white;
  display: flex;
  align-items: flex-end;
}

.content > header h1 {
  flex: auto;
  margin: 1rem 0 0.25rem 0;
  padding-bottom: 15px;
}

.flash {
  margin: 1em 0;
  padding: 1em;
  background: white;
  border: 1px solid white;
}

.post > header {
  display: flex;
  align-items: flex-end;
  font-size: 0.85em;
}

.post > header > div:first-of-type {
  flex: auto;
}

.post > header h1 {
  font-size: 1.5em;
  margin-bottom: 0;
  padding-top: 10px;
}

.post .about {
  color: white;
  font-style: italic;
  margin-top: 5px;
  margin-bottom: 5px;
}

.post .body {
  white-space: pre-line;
  padding-bottom: 15px;
}

.content:last-child {
  margin-bottom: 0;
}

.content form {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}

.content label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.content input, .content textarea {
  margin-bottom: 1em;
  color: white;
  background-color: #151515;
}

.content textarea {
  min-height: 12em;
  resize: vertical;
}

input.danger {
  color: #cc2f2e;
}

input[type=submit] {
  align-self: start;
  min-width: 10em;
}